body{
    /* background-color: #CC0000; */
    margin: 0px;
    padding:0px
}



#pokemon-search{
    margin-bottom: 0px;
   
}

#pokedex-img{
    width:10%;
    display: inline;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

#search-h1{
    text-align: center;
    
    background-color: aquamarine;
    /* margin-bottom: 100px; */
    
    padding: 60px;
    
} 

#search{
    text-align: center;
    margin-top: 10px;
    
}

#search-button{
    margin-top: 15px;

}

#search-button{
    margin-bottom:20px;
}

#pokemon-cards{
    width: 400px;
  box-shadow: 1px 1px 3px #000;
  margin-left: 550px;
  margin-right: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;


}

